/*
  Palette : 
  https://colorhunt.co/palette/0b244719376d576cbca5d7e8
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #576CBC;
}

.navbar {
  background-color: #0B2447;
}

.navbar-elem {
  color: #A5D7E8;
}

.footer {
  background-color: #19376D;
}

